beautifulsoup4==4.11.2
certifi==2024.2.2
charset-normalizer==3.3.2
-e git+https://github.com/cormochamelion/fronius-scraping@ceafc1f12ee1e1c379b7d9ef3254cdb7f03b67d5#egg=fronius_scraper&subdirectory=fronius_scraper
idna==3.7
lxml==4.9.4
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==1.26.18
